@import-normalize; 

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}
.table {
  max-width: 500px;
  border:1px solid #ccc;
}
.table__head,
.table__row {
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.table__row:last-child {
  border-bottom: none;
}
.table__row span {
  border-right:1px solid #ccc;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table__row span:last-child {
  border-right:none
}
.table__row button {
  display: inline-block;
  border:none;
  background-color: transparent;
  padding: 0;
  width:20px;
  height:20px;
}

.table__row button i {
  font-size: 20px;
}
.table__head span {
  display: grid;
  justify-self: center;
  align-items: center;
  width:100%;
  height: 100%;
  border-right: 1px solid #ccc;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
.table__head span:last-child {
  border-right:unset
}
.table p {
  text-align: center;
}
form {
  max-width: 261px;
}
.table__row:nth-child(odd) {
  background-color: #f1eded;
}
form button {
  width: 100%;
  border:none;
  padding:10px 0;
  border-radius: 5px;
  background-color: tomato;
  color:#fff;
  font-weight: 600;
}
form input {
  padding-left:10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 25px;
}
label span {
  display: inline-block;
  min-width: 80px;
}
.btns {
  display:flex;
  justify-content:space-evenly;
}
input:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}
i.fa.fa-pencil-square-o {
  margin-top: 1px;
}
button.Save {
  background-color:purple;
}
button:focus {
 outline: none;
}
/* .gallery-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3,1fr);
} */
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 0;
  transition: opacity 2000ms;
}
.my-node-exit {
  opacity: 0;
}
.my-node-exit-active {
  opacity: 1;
  transition: opacity 2000ms;
}
button.disabled {
  opacity: 0.2;
  pointer-events: none;
}
.cart {
  display: flex;
  align-items: center;
}
.cart  span {
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}
button.disallow {
  opacity: 0.2;
  pointer-events: none;
}
.react-home {
  width: 100%;
  height: 800px;
 background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(21,53,78,.3);
}
.cards {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5,1fr);
}
span.qty {
  display: inline-block;
  margin: 0 5px;
}
.cart-row {
  display: grid;
  grid-template-columns:repeat(4,200px);
}
.cart-row {
  background-color: lightblue;
  padding: 5px;
  margin-bottom: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 200px 100px 100px 100px;
  max-width: 510px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}
.ui.container.gist {
  display:grid;
  grid-template-columns: repeat(2,1fr);
}

.gist .header {
  grid-column: 1/3;
}
.gist .list li {
  cursor: pointer;
  padding: 5px 0;
  margin-bottom: 5px;
}